* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #343a40;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #343a40
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: #f8f9fa;
}

/* https://vuejs.org/v2/api/#v-cloak */
[v-cloak] { display: none; }